/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Components design --- */
@import url("components/container.css");
/* TODO: import new components */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
/* --- Fonts & colors --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(240,240,240);
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}

.text-center {
  text-align: center;
}



/* .flexbox {
  background-color: yellow;
  height: 500px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
} */

/* .item-1 {
  background-color: purple;
  width: 100px;
  height: 100px;
   flex-grow: 2;  */
   /* 2 / 6 */
/* } */

/* .item-2 {
  background-color: blue;
  width: 100px;
  height: 100px;
  flex-grow: 1;   */
  /* 1 / 6 */
/* } */

/* .item-3 {
  background-color: red;
  width: 100px;
  height: 100px;
  flex-grow: 3; */
  /* 3 / 6 */
/* } */